@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
      }
    body, html{
        font-family: 'Open Sans', sans-serif;
        background-color: #80B0B4;
        text-transform: uppercase;
    }
.container{
  color: #3A3A3A;
  height: 100%;
  width: 100%;
}
.container .popup1{
  height:  600px;
  width: auto;
  max-width: 600px;
  min-width: 280px;
  text-align: center;
  padding: 20px;
  border: solid 2px #3A3A3A;
}
.container .popup1 .header h1{
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 30px;
}
.container .popup1 .header p{
  font-size: 20px;
}
.container .popup1 .header p span{
  color: #185B61;
  letter-spacing: 1px;
}
.container .popup1 .input{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
::placeholder {
      color: #185B61;
      border-bottom: solid 3px;
}
input[name=name]{
  width: 30%;
}
input[type=email]{
  background-color: #80B0B4;
  padding: 2px 1px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #185B61;
  font-weight: 500;
  font-size: 20px;
}
input[type=text]{
  background-color: #80B0B4;
  padding: 2px 1px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #185B61;
  font-weight: 500;
  font-size: 18px;
}
input[type=submit] {
  width: 100px;
  background-color: #185B61;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  padding: 5px 10px;
  margin:  10px;
  border: none;
  cursor: pointer;
  justify-content: center;
}
.container .popup1 .aproved{
  display: flex;
  flex-direction: row;
  padding:  50px 25px;
}
.container .popup1 .aproved .sign_aproved i{
  text-align: center;
  justify-content: center;
  margin: 0 15px 15px 15px;
  font-size: 30px;
  color: #185B61;
}
.container .popup1 .aproved .text_aproved p{
  font-size: 12px;
  text-align: justify;
}
.container .popup2{
  max-width: 600px;
  min-width: 280px;
  height:  600px;
  width: auto;
  padding: 20px;
  border: solid 2px #3A3A3A;
}
.container .popup2 .header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
.container .popup2 .header h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
.container .popup2 .header h2{
  color: #3A3A3A;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  text-decoration: 3px underline;
  font-family: 'Open Sans', sans-serif;
}
.container .popup2 .header h2::after{
  content: '!';
}
.container .popup2 .thx_text p{
  font-size: 23px;
  margin: 15%;
  text-align: center;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

/* Media section */

@media (max-width: 550px){
  .container .popup1 .header h1{
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .container .popup1 .aproved{
    display: flex;
    flex-direction: row;
    padding:  50px 25px;
  }
}
@media (max-width: 460px){
  .container .popup2 .header{
    flex-direction: column;
    margin-bottom: 10px;
  }
  .container .popup1 .header p{
    font-size: 15px;
    font-weight: 500;
  }
  .container .popup1 .aproved .sign_aproved i{
    font-size: 20px;
  }
  .container .popup1 .aproved .text_aproved p{
    font-size: 9px;
    text-align: justify;
  }
  .container .popup1 .button{
    padding-right: 0px;
  }
}
@media (max-width: 410px){
  .container .popup1 input{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 350px){
  .container .popup1 input{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container .popup1 .button{
    padding-right: 20px;
  }
}
